In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import icd10
from icd9cms.icd9 import search

from collections import Counter

import sys
sys.path.insert(1, os.path.join(os.path.abspath('.'), '..'))

from utils.data_io import *
from utils.common import *

def legend_without_duplicate_labels(ax, fontsize=12):
    handles, labels = ax.get_legend_handles_labels()
    unique = [(h, l) for i, (h, l) in enumerate(zip(handles, labels)) if l not in labels[:i]]
    ax.legend(*zip(*unique), fontsize=fontsize)

In [2]:
tables = [
    '/home/kai/workspace/data/MIMIC/MIMIC4/d_v1-i_v1.tsv',
    '/home/kai/workspace/data/MIMIC/MIMIC4/d_v1-d_chartitems.tsv',
    '/home/kai/workspace/data/MIMIC/MIMIC4/d_v1-d_derived.tsv',
    '/home/kai/workspace/data/MIMIC/MIMIC4/d_v1-d_labitems.tsv',
    
]

uid_dict = {}

for tab in tables:
    tab = pd.read_csv(tab, header=0, sep='\t')
    uid_dict.update(pd.Series(tab.label.values, index=tab.uid).to_dict())

In [3]:
uid_selected = pd.read_csv('/home/kai/workspace/data/MIMIC/MIMIC4/d_v1-d_v1.tsv', header=0, sep='\t').uid.values
uid_selected_dict = {uid:uid_dict[uid] for uid in uid_selected}

uid_selected_dict

{0: 'subject_id',
 1: 'hadm_id',
 2: 'stay_id',
 3: 'gender',
 4: 'dod',
 5: 'admittime',
 6: 'dischtime',
 7: 'los_hospital',
 8: 'admission_age',
 9: 'ethnicity',
 10: 'hospital_expire_flag',
 11: 'hospstay_seq',
 12: 'first_hosp_stay',
 13: 'icu_intime',
 14: 'icu_outtime',
 15: 'los_icu',
 16: 'icustay_seq',
 17: 'first_icu_stay',
 18: 'first_careunit',
 19: 'last_careunit',
 20: 'age_score',
 21: 'myocardial_infarct',
 22: 'congestive_heart_failure',
 23: 'peripheral_vascular_disease',
 24: 'cerebrovascular_disease',
 25: 'dementia',
 26: 'chronic_pulmonary_disease',
 27: 'rheumatic_disease',
 28: 'peptic_ulcer_disease',
 29: 'mild_liver_disease',
 30: 'diabetes_without_cc',
 31: 'diabetes_with_cc',
 32: 'paraplegia',
 33: 'renal_disease',
 34: 'malignant_cancer',
 35: 'severe_liver_disease',
 36: 'metastatic_solid_tumor',
 37: 'aids',
 38: 'charlson_comorbidity_index',
 39: 'icd',
 40: 'scr_min',
 41: 'ckd',
 42: 'mdrd_est',
 43: 'scr_baseline',
 100001: 'height',
 100002: 'weight',
 100003: 'wbc',
 100004: 'lymphocytes',
 100005: 'eosinophils_abs',
 100006: 'lymphocytes_abs',
 100007: 'monocytes_abs',
 100008: 'o2_delivery_device_1',
 100009: 'o2_delivery_device_2',
 100010: 'o2_delivery_device_3',
 100011: 'o2_delivery_device_4',
 100012: 'o2_flow',
 100013: 'urineoutput',
 100014: 'urineoutput_6hr',
 100015: 'urineoutput_12hr',
 100016: 'urineoutput_24hr',
 100017: 'uo_mlkghr_6hr',
 100018: 'uo_mlkghr_12hr',
 100019: 'uo_mlkghr_24hr',
 100020: 'uo_tm_6hr',
 100021: 'uo_tm_12hr',
 100022: 'uo_tm_24hr',
 100023: 'peep',
 100024: 'sbp',
 100025: 'dbp',
 100026: 'mbp',
 100027: 'resp_rate',
 100028: 'temperature',
 100031: 'creat_low_past_48hr',
 100032: 'creat_low_past_7day',
 100033: 'aki_stage_creat',
 100034: 'aki_stage_uo',
 100035: 'aki_stage',
 100036: 'Epinephrine',
 100037: 'Furosemide (Lasix)',
 100038: 'pao2fio2ratio',
 100039: 'Alveolar-arterial Gradient, Calculated',
 100040: 'Specimen Prediction',
 100041: 'Specimen Probability',
 220045: 'Heart Rate',
 220048: 'Heart Rhythm',
 220179: 'Non Invasive Blood Pressure systolic',
 220180: 'Non Invasive Blood Pressure diastolic',
 220181: 'Non Invasive Blood Pressure mean',
 220277: 'O2 saturation pulseoxymetry',
 220995: 'Sodium Bicarbonate 8.4%',
 221653: 'Dobutamine',
 221662: 'Dopamine',
 221749: 'Phenylephrine',
 221906: 'Norepinephrine',
 221986: 'Milrinone',
 222315: 'Vasopressin',
 223835: 'Inspired O2 Fraction',
 223848: 'Ventilator Type',
 223849: 'Ventilator Mode',
 224642: 'Temperature Site',
 224650: 'Ectopy Type 1',
 224651: 'Ectopy Frequency 1',
 224684: 'Tidal Volume (set)',
 224685: 'Tidal Volume (observed)',
 224686: 'Tidal Volume (spontaneous)',
 224687: 'Minute Volume',
 224688: 'Respiratory Rate (Set)',
 224689: 'Respiratory Rate (spontaneous)',
 224690: 'Respiratory Rate (Total)',
 224696: 'Plateau Pressure',
 226479: 'Ectopy Type 2',
 226480: 'Ectopy Frequency 2',
 227287: 'O2 Flow (additional cannula)',
 229068: 'Protamine sulfate',
 229314: 'Ventilator Mode (Hamilton)',
 229639: 'Bumetanide (Bumex)',
 550801: 'Alveolar-arterial Gradient',
 550802: 'Base Excess',
 550803: 'Calculated Bicarbonate, Whole Blood',
 550804: 'Calculated Total CO2',
 550805: 'Carboxyhemoglobin',
 550806: 'Chloride, Whole Blood',
 550808: 'Free Calcium',
 550809: 'Glucose',
 550810: 'Hematocrit, Calculated',
 550811: 'Hemoglobin',
 550813: 'Lactate',
 550814: 'Methemoglobin',
 550816: 'Oxygen',
 550817: 'Oxygen Saturation',
 550818: 'pCO2',
 550820: 'pH',
 550821: 'pO2',
 550822: 'Potassium, Whole Blood',
 550824: 'Sodium, Whole Blood',
 550825: 'Temperature',
 550861: 'Alanine Aminotransferase (ALT)',
 550862: 'Albumin',
 550863: 'Alkaline Phosphatase',
 550867: 'Amylase',
 550868: 'Anion Gap',
 550878: 'Asparate Aminotransferase (AST)',
 550882: 'Bicarbonate',
 550883: 'Bilirubin, Direct',
 550884: 'Bilirubin, Indirect',
 550885: 'Bilirubin, Total',
 550889: 'C-Reactive Protein',
 550893: 'Calcium, Total',
 550902: 'Chloride',
 550910: 'Creatine Kinase (CK)',
 550911: 'Creatine Kinase, MB Isoenzyme',
 550912: 'Creatinine',
 550927: 'Gamma Glutamyltransferase',
 550930: 'Globulin',
 550931: 'Glucose',
 550954: 'Lactate Dehydrogenase (LD)',
 550971: 'Potassium',
 550976: 'Protein, Total',
 550983: 'Sodium',
 551002: 'Troponin I',
 551003: 'Troponin T',
 551006: 'Urea Nitrogen',
 551143: 'Atypical Lymphocytes',
 551144: 'Bands',
 551146: 'Basophils',
 551196: 'D-Dimer',
 551200: 'Eosinophils',
 551214: 'Fibrinogen, Functional',
 551221: 'Hematocrit',
 551222: 'Hemoglobin',
 551237: 'INR(PT)',
 551248: 'MCH',
 551249: 'MCHC',
 551250: 'MCV',
 551251: 'Metamyelocytes',
 551254: 'Monocytes',
 551256: 'Neutrophils',
 551257: 'Nucleated Red Cells',
 551265: 'Platelet Count',
 551274: 'PT',
 551275: 'PTT',
 551277: 'RDW',
 551279: 'Red Blood Cells',
 551297: 'Thrombin',
 552028: 'Hematocrit',
 552069: 'Absolute Basophil Count',
 552075: 'Absolute Neutrophil Count',
 552135: 'Immature Granulocytes',
 552159: 'Platelet Aggregation'}

In [4]:
mimic_data_path = '/home/kai/workspace/data/MIMIC/MIMIC4/structured_dsv_data_v1'
pid = 30000646
data_file = os.path.join(mimic_data_path, 'data_' + str(pid) + '.dsv')
info_file = os.path.join(mimic_data_path, 'info_' + str(pid) + '.dsv')

In [5]:
data = pd.read_csv(data_file, header=0, sep='$')
info = pd.read_csv(info_file, header=0, sep='$')

In [6]:
data

,uid,value,unit,rate,rate_unit,lower_range,upper_range,category,specimen_id,starttime,endtime
0,100031,NaN,None,NaN,NaN,NaN,NaN,KDIGO,NaN,2194-04-27 14:25:00,NaN
1,100032,NaN,None,NaN,NaN,NaN,NaN,KDIGO,NaN,2194-04-27 14:25:00,NaN
2,100033,0.0,None,NaN,NaN,NaN,NaN,KDIGO,NaN,2194-04-27 14:25:00,NaN
3,100034,NaN,None,NaN,NaN,NaN,NaN,KDIGO,NaN,2194-04-27 14:25:00,NaN
4,100035,0.0,None,NaN,NaN,NaN,NaN,KDIGO,NaN,2194-04-27 14:25:00,NaN
...,...,...,...,...,...,...,...,...,...,...,...
3367,224642,NaN,None,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-05-03 18:00:00,NaN
3368,224650,None,None,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-05-03 18:00:00,NaN
3369,224651,NaN,None,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-05-03 18:00:00,NaN
3370,226479,NaN,None,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-05-03 18:00:00,NaN
3371,226480,NaN,None,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-05-03 18:00:00,NaN

In [19]:
data.loc[(data['category']=='KDIGO') & (~pd.isnull(data['value'])) & (data['uid']==100035)]

,uid,value,unit,rate,rate_unit,lower_range,upper_range,category,specimen_id,starttime,endtime
4,100035,0.0,None,NaN,NaN,NaN,NaN,KDIGO,NaN,2194-04-27 14:25:00,NaN
9,100035,0.0,None,NaN,NaN,NaN,NaN,KDIGO,NaN,2194-04-28 06:30:00,NaN
70,100035,0.0,None,NaN,NaN,NaN,NaN,KDIGO,NaN,2194-04-29 02:33:00,NaN
183,100035,0.0,None,NaN,NaN,NaN,NaN,KDIGO,NaN,2194-04-29 05:54:00,NaN
253,100035,0.0,None,NaN,NaN,NaN,NaN,KDIGO,NaN,2194-04-29 06:09:00,NaN
597,100035,0.0,None,NaN,NaN,NaN,NaN,KDIGO,NaN,2194-04-29 08:00:00,NaN
781,100035,0.0,None,NaN,NaN,NaN,NaN,KDIGO,NaN,2194-04-29 15:00:00,NaN
902,100035,0.0,None,NaN,NaN,NaN,NaN,KDIGO,NaN,2194-04-29 19:00:00,NaN
950,100035,0.0,None,NaN,NaN,NaN,NaN,KDIGO,NaN,2194-04-29 19:33:00,NaN
1139,100035,0.0,None,NaN,NaN,NaN,NaN,KDIGO,NaN,2194-04-29 23:00:00,NaN
1381,100035,0.0,None,NaN,NaN,NaN,NaN,KDIGO,NaN,2194-04-30 07:00:00,NaN
1451,100035,0.0,None,NaN,NaN,NaN,NaN,KDIGO,NaN,2194-04-30 10:00:00,NaN
1520,100035,0.0,None,NaN,NaN,NaN,NaN,KDIGO,NaN,2194-04-30 13:00:00,NaN
1600,100035,0.0,None,NaN,NaN,NaN,NaN,KDIGO,NaN,2194-04-30 16:46:00,NaN
1690,100035,0.0,None,NaN,NaN,NaN,NaN,KDIGO,NaN,2194-04-30 21:00:00,NaN
1721,100035,0.0,None,NaN,NaN,NaN,NaN,KDIGO,NaN,2194-04-30 22:00:00,NaN
1887,100035,0.0,None,NaN,NaN,NaN,NaN,KDIGO,NaN,2194-05-01 08:00:00,NaN
1914,100035,0.0,None,NaN,NaN,NaN,NaN,KDIGO,NaN,2194-05-01 08:43:00,NaN
1929,100035,0.0,None,NaN,NaN,NaN,NaN,KDIGO,NaN,2194-05-01 09:00:00,NaN
1993,100035,0.0,None,NaN,NaN,NaN,NaN,KDIGO,NaN,2194-05-01 10:00:00,NaN
2030,100035,0.0,None,NaN,NaN,NaN,NaN,KDIGO,NaN,2194-05-01 11:52:00,NaN
2138,100035,0.0,None,NaN,NaN,NaN,NaN,KDIGO,NaN,2194-05-01 16:22:00,NaN
2290,100035,0.0,None,NaN,NaN,NaN,NaN,KDIGO,NaN,2194-05-01 22:00:00,NaN
2440,100035,0.0,None,NaN,NaN,NaN,NaN,KDIGO,NaN,2194-05-02 05:40:00,NaN
2542,100035,0.0,None,NaN,NaN,NaN,NaN,KDIGO,NaN,2194-05-02 08:00:00,NaN
2590,100035,0.0,None,NaN,NaN,NaN,NaN,KDIGO,NaN,2194-05-02 10:00:00,NaN
2740,100035,0.0,None,NaN,NaN,NaN,NaN,KDIGO,NaN,2194-05-02 16:19:00,NaN
2813,100035,0.0,None,NaN,NaN,NaN,NaN,KDIGO,NaN,2194-05-02 20:00:00,NaN
2878,100035,0.0,None,NaN,NaN,NaN,NaN,KDIGO,NaN,2194-05-02 22:22:00,NaN
2968,100035,0.0,None,NaN,NaN,NaN,NaN,KDIGO,NaN,2194-05-03 02:00:00,NaN
3011,100035,0.0,None,NaN,NaN,NaN,NaN,KDIGO,NaN,2194-05-03 03:59:00,NaN
3255,100035,0.0,None,NaN,NaN,NaN,NaN,KDIGO,NaN,2194-05-03 13:28:00,NaN
3291,100035,0.0,None,NaN,NaN,NaN,NaN,KDIGO,NaN,2194-05-03 15:00:00,NaN
3339,100035,0.0,None,NaN,NaN,NaN,NaN,KDIGO,NaN,2194-05-03 16:55:00,NaN

In [23]:
data[data['uid']==220045][:50]

,uid,value,unit,rate,rate_unit,lower_range,upper_range,category,specimen_id,starttime,endtime
17,220045,100.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 01:39:00,NaN
34,220045,100.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 01:41:00,NaN
45,220045,102.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 02:00:00,NaN
71,220045,NaN,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 02:33:00,NaN
120,220045,97.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 03:00:00,NaN
136,220045,93.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 04:00:00,NaN
157,220045,87.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 05:00:00,NaN
189,220045,89.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 05:55:00,NaN
205,220045,90.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 06:00:00,NaN
222,220045,87.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 06:03:00,NaN
233,220045,87.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 06:05:00,NaN
254,220045,NaN,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 06:09:00,NaN
323,220045,86.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 06:10:00,NaN
346,220045,90.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 06:15:00,NaN
357,220045,93.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 06:20:00,NaN
368,220045,94.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 06:21:00,NaN
379,220045,92.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 06:25:00,NaN
390,220045,93.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 06:30:00,NaN
401,220045,NaN,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 06:34:00,NaN
412,220045,94.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 06:35:00,NaN
423,220045,NaN,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 06:37:00,NaN
434,220045,94.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 06:40:00,NaN
445,220045,NaN,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 06:43:00,NaN
456,220045,93.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 06:45:00,NaN
467,220045,95.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 06:50:00,NaN
478,220045,93.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 06:55:00,NaN
495,220045,92.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 07:00:00,NaN
523,220045,93.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 07:05:00,NaN
534,220045,94.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 07:10:00,NaN
545,220045,94.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 07:15:00,NaN
556,220045,92.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 07:20:00,NaN
567,220045,93.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 07:25:00,NaN
598,220045,94.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 08:00:00,NaN
616,220045,85.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 09:00:00,NaN
633,220045,78.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 09:15:00,NaN
644,220045,79.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 10:00:00,NaN
686,220045,NaN,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 10:02:00,NaN
697,220045,72.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 11:00:00,NaN
718,220045,71.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 12:00:00,NaN
735,220045,71.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 13:00:00,NaN
751,220045,71.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 14:00:00,NaN
782,220045,69.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 15:00:00,NaN
803,220045,75.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 16:00:00,NaN
821,220045,78.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 17:00:00,NaN
838,220045,81.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 18:00:00,NaN
854,220045,82.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 18:15:00,NaN
866,220045,85.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 18:30:00,NaN
877,220045,86.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 18:45:00,NaN
903,220045,84.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 19:00:00,NaN
919,220045,84.0,bpm,NaN,NaN,None,None,Routine Vital Signs,NaN,2194-04-29 19:15:00,NaN

In [24]:
pd.to_datetime(data.loc[data['uid']==220045, 'starttime']).diff()[:50]

17                NaT
34    0 days 00:02:00
45    0 days 00:19:00
71    0 days 00:33:00
120   0 days 00:27:00
136   0 days 01:00:00
157   0 days 01:00:00
189   0 days 00:55:00
205   0 days 00:05:00
222   0 days 00:03:00
233   0 days 00:02:00
254   0 days 00:04:00
323   0 days 00:01:00
346   0 days 00:05:00
357   0 days 00:05:00
368   0 days 00:01:00
379   0 days 00:04:00
390   0 days 00:05:00
401   0 days 00:04:00
412   0 days 00:01:00
423   0 days 00:02:00
434   0 days 00:03:00
445   0 days 00:03:00
456   0 days 00:02:00
467   0 days 00:05:00
478   0 days 00:05:00
495   0 days 00:05:00
523   0 days 00:05:00
534   0 days 00:05:00
545   0 days 00:05:00
556   0 days 00:05:00
567   0 days 00:05:00
598   0 days 00:35:00
616   0 days 01:00:00
633   0 days 00:15:00
644   0 days 00:45:00
686   0 days 00:02:00
697   0 days 00:58:00
718   0 days 01:00:00
735   0 days 01:00:00
751   0 days 01:00:00
782   0 days 01:00:00
803   0 days 01:00:00
821   0 days 01:00:00
838   0 days 01:00:00
854   0 days 00:15:00
866   0 days 00:15:00
877   0 days 00:15:00
903   0 days 00:15:00
919   0 days 00:15:00
Name: starttime, dtype: timedelta64[ns]